
.item{
    background-color:#EFE1CE;
    max-width: 320px;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    margin: 5px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;

    .titel{
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 24px;
        text-align: center;
    }

    .header{
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;

        .btn{
            padding: 5px 15px;
            border: none;
            background-color: black;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            transition: all ease .4s;
            &:hover{
                background-color: white;
                color: black;
                font-weight: 600;
            }
        }
    }
}
