.cart{
    padding: 40px 0;
    max-width: 840px;
    margin: 0 auto;

    .popup{
        width: 400px;
        margin: 40px auto;
        .popup__title{
            margin-bottom: 40px;
            text-align: center;
            font-size: 30px;
        }
        .crusade{
        }
    }
    .title{

    }
    .wrapper{
        margin-top: 20px;
        .item{
            border-radius: 10px;
            background-color: #EFE1CE;
            padding: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .img{
                width: 200px;
                height: 140px;
                object-fit: cover;
            }
            .name{
                font-size: 22px;
                width: 24%;
            }
            .count{
                color: red;
                font-size: 22px;
                font-weight: 700;
            }
            .price{

            }
        }
    }
    .row__btn, .one__btn{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .one__btn{
        justify-content: center;
    }
}