.header{
    background-color: cadetblue;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        display: block;
        height: 70px;
        width: 90px;
        background-color: aliceblue;
        background-image: url('./../../assets/logo.png');
        background-color: cadetblue;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        
        &::before{
            content: 'Weapon';
            position: absolute;
            top: 28px;
            right: 14px;
        }
    }

    .cart{
        background-color: black;
        border-radius: 10px;
        padding: 10px 15px;
        color: white;
        cursor: pointer;
        max-width: 140px;

        .price{
            font-size: 12px;
            margin-right: 20px;
            position: relative;
            &::before{
                content: '';
                width: 1px;
                height: 100%;
                position: absolute;
                background-color: white;
                top: -1px;
                left: 38px;
            }
        }
    }
}