.navbar{
    display: flex;
    margin-top: 20px;
    
    .item{
        font-size: 14px;
        min-width: 80px;
        color: white;
        background-color: black;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        transition: all ease .4s;
        &:hover{
            background-color: white;
            color: black;
        }

        &:not(:last-child){
            margin-right: 10px;
        }

    }
    .item__active{
        font-size: 14px;
        min-width: 80px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        background-color: white;
        color: black;
        font-weight: 600;
        &:not(:last-child){
            margin-right: 10px;
        }
    }
}