.cart{
    background-color: black;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    max-width: 140px;
    display: flex;
    align-items: center;
    .count{
        font-size: 14px;
    }

    .price{
        font-size: 12px;
        margin-right: 20px;
        position: relative;
        &::before{
            content: '';
            width: 1px;
            height: 100%;
            position: absolute;
            background-color: white;
            top: -1px;
            left: 38px;
        }
    }
}